# RStudio project files
#
.Rproj.user/
*.Rproj

# R transient files
.Rhistory
.RData
.Ruserdata

# RMarkdown detritus
README_cache/
/multi_spike.dat
/alt_degassing.dat

# python cruft
*.py[cod]
__pycache__/

# LaTeX stuff
*.aux
*.bak
*.blg
*.glo
*.gls
*.ilg
*.lof
*.log
*.lot
*.out
*.toc

*.synctex.gz
docs/
